
:root{
    /* primary orange */
    --primary-100:#FFEEE8;
    --primary-200: #FFDDD1;
    --primary-300: #FFA386;
    --primary-400: #FF855E;
    --primary-500-main: #FF6636;
    --primary-600: #CC522B;
    --primary-700:#993D20;
    --primary-800: #662916;
    --primary-900: #33140B;
    /* grey */
    --grey-white:#FFFFFF;
    --grey-50: #F5F7FA;
    --grey-100:#E9EAF0;
    --grey-200: #CED1D9;
    --grey-300: #B7BAC7;
    --grey-400: #A1A5B3;
    --grey-500:#8C94A3;
    --grey-600: #6E7485;
    --grey-700:#4E5566;
    --grey-800: #363B47;
    --grey-900:#1D2026;
   
    /* secondary blue */
    --secondary-100: #EBEBFF;
     --secondary-200: #CDCBFE; 
    --secondary-300: #9A95FE;
    --secondary-400: #7872FD;
    --secondary-500: #564FFD;
    --secondary-600: #453FCA;
    --secondary-700: #342F98;
    --secondary-800: #222065;
    --secondary-900: #111033;
       /* Success green */
    --success-100: #E1F7E3;
    --success-200: #C3E5C6;
    --success-300: #7BD785;
    --success-400: #4FCA5C;
    --success-500: #23BD33;
    --success-600: #1C9729;
    --success-700: #15711F;
    --success-800: #0E4C14;
    --success-900: #07260A;
   /* Warning brown and orange */
   --warning-100: #FFF2E5;
   --warning-200: #FED1A5; 
   --warning-300: #FEBB79;
   --warning-400: #FDA44C;
   --warning-500: #FD8E1F;
   --warning-600: #CC7319;
   --warning-700: #985613;
   --warning-800: #65390C;
   --warning-900: #331D06;


   /*  Error brown and red and pink   */
   
--error-100: #FFF0F0;
--error-200: #F4C8C8;
--error-300: #EE8F8F;
--error-400: #E96969;
--error-500: #E34444;
--error-600: #B63636;
--error-700: #882929;
--error-800: #5B1B1B;
--error-900: #2D0E0E;

  
   /* special */
    --footer-background-social: #363B4766;


    /* Buttons */
    --small-btn-width:79px;
    --small-btn-height: 40px;
    --small-btn-padding:0px 16px;
    --small-btn-gap: 12px;


    --medium-btn-width: 126px;
    --medium-btn-height: 48px;
    --medium-btn-padding: 0px 24px;
    --medium-btn-gap: 12px;

    --large-btn-width: 129px;
    --large-btn-height: 56px;
    --large-btn-padding: 0px 32px;
    --large-btn-gap: 12px;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
    font-family: Inter;
    
}
body{
    background-color: var(--grey-white);
    font-family: Inter;
}
#header{

}


.navbar{
    display: flex;
    flex-direction: column;
    
}
.navbar .top-nav{
    background-color: var(--grey-900);
    color: var(--grey-white);
    width: 100%;
    height: 52px;
    padding: 32px;
    margin:0;
}
.navbar .top-nav .left{
    width: 570px;
    gap: 8px;
}
.navbar .top-nav .right {
    
    gap: 24px;
}
 .nav-item{
   
    padding: 16px;
    gap: 10px;
    color: var(--grey-500);
   
}
.nav-item:hover{
    color: var(--grey-white);
    cursor: pointer;
}
.top-nav , .bottom-nav , .left , .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom-nav{
    padding: 24px 32px;
    background-color: var(--grey-white);
    
}
.bottom-nav .left{
    gap: 50px;
}
.logo {
    display: flex;
    gap: 8px;
}
.logo h1{
    font-size: 32px;
}
.left .browse{
    border:1px solid var(--grey-100);
    width: 200px;
    height: 48px;
    padding: 12px 18px 12px 18px;
       
        
}
.left .search{
        width: 300px;
        height: 48px;
        padding: 12px 120px 12px 10px;
        gap: 0px;
        border: 1px solid var(--grey-100);
        
      
}
.bottom-nav .right{
    display: flex;
    justify-content: space-around;
    
    width: 500px;
}
.bottom-nav .right .icons{
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.bottom-nav .right .create-account{
    width:  168px;
        height:  48px;
        padding: 0px 24px 0px 24px;
        gap: 12px;
        opacity: 0px;
        color: var(--primary-500-main);
        background-color: var(--primary-100);
        border: 0;
}
.bottom-nav .right .sign-in{
width: 100px;
    height:48px;
    padding: 0px 24px 0px 24px;
    gap: 12px;
    opacity: 0px;
    border: 0;
    color: var(--grey-white);
    background-color: var(--primary-500-main);
}
.header-content{
    background: linear-gradient(#F0F2F500, #F0F2F5);
    width: 100%;
    display: flex;
}
.header-content .content{
width:648px;
    height: 348px;
    padding: 50px 10px 20px 90px;
    gap: 40px;
    opacity: 0px;
}
.header-content .content h2{


    font-size: 60px;
    font-weight: 600;
    line-height: 74px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.header-content .content p{
    
        color: var(--grey-700);
        font-size: 22px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}
.header-content .content .create-account{
width: 180px;
    height: 56px;
    padding: 0px 32px 0px 32px;
    gap: 12px;
    opacity: 0px;
    border: 0;
    background-color: var(--primary-500-main);
    color: var(--grey-white);
}
.header-content img{
    clip-path: polygon(13% 0, 100% 0%, 100% 99%, 0 100%);
}
#top-category{
   margin: 80px 0px; 
 

}
#top-category .categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:15px;
}
#top-category h2 , #best-selling h2 , #recently-added h2 , #top-instructor h2{
        color: var(--grey-900);
        font-family: Inter;
        font-size: 40px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: -0.01em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        text-align: center;
        margin-bottom: 50px;
       
}
.category-item{
        width: 300px;
        height: 100px;
        padding: 20px 20px 20px 0px;
        gap: 20px;
        opacity: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        
       
}
.category-item i{
    font-size: 25px;

    border: 2px;
    background-color: var(--grey-white);
    padding: 16px;
}
.category-item .cat-item-name{
width: 100%;
    height: 28px;
    gap: 0px;
    opacity: 0px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
       
}
.category-item .cat-item-desc{
  
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.01em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--grey-600);
}
#best-selling {
width: 100%;
background-color: var(--grey-50);
padding-top: 80px;
padding-bottom: 80px;
}

 .cards-container{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 25px;
}
.my-card{
width:244px;
    height:333px;
    padding: 0px 0px 14px 0px;
    gap: 14px;
    opacity: 0px;
    background-color: var(--grey-white);
    border: 1px solid var(--grey-100);
}
 .my-card img{
width:"244px";
 height:"183px";
 padding-bottom: 14px;
}
.name-price{
display: flex;
justify-content: space-between;
padding: 0px 14px;
gap: 10px;
}
 .cat-card-name{
padding: 4px 6px;

width: 50%;

    
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.name-price span {
 color: var(--primary-500-main);
    
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.card-text {

  color: var(--grey-900);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 8px 14px;
}
 .my-card-body .rate-students-number{
display: flex;
justify-content: space-between;
padding: 8px 14px;
}
 .rate-students-number .rate span{
    color: var(--grey-700);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
 .rate-students-number .students-number{
color: var(--grey-700);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
#feature-courses{

margin: 80px;
}
#feature-courses .heading{
display: flex;
justify-content: space-between;
align-items: center;

}
#feature-courses .heading h2{

margin-left: 20px;
margin-bottom: 30px;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
#feature-courses .heading p{
color: var(--grey-700);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 35%;
    margin-bottom: 30px;
}
#feature-courses .feature-items{
display: flex;
flex-wrap: wrap;
gap:30px;
justify-content: center;

}
#feature-courses .feature-items .feature-item{
width: 47%;

display: flex;
justify-content: center;


}
#feature-courses .cat-card-name {
    padding: 4px 6px;

    width: 30%;


    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
#feature-courses .name-price{
    margin-top: 14px;
}

#feature-courses .name-price .cat-card-name{
    text-transform: uppercase;
    font-size: 10px;
}
#feature-courses .name-price span{
    color: var(--grey-900);
    font-size: 18px;
}
#feature-courses .name-price span > del{
color: var(--grey-400);
font-size: 14px;
}
#feature-courses .feature-items .feature-item img{ 
    width: 28px; height: 28px; border-radius:50% ;
     -webkit-border-radius:50% ; 
     -moz-border-radius:50% ;
      -ms-border-radius:50% ;
       -o-border-radius:50% ;
       margin-right: 5px;
}
#feature-courses .card-content{
   border: 1px solid var(--grey-100);
width: 100%
}
#feature-courses .card-content p{
     
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        padding: 10px 14px;
        color: var(--grey-900);
}
#feature-courses .card-content .user-rate{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 14px;


}
#feature-courses .card-content .user-rate .rate {
    font-size: 10px;
    color: var(--grey-700);
}
#feature-courses .card-content .user-rate .user{
display: flex;
    justify-content: center;
    align-items: center;
}
#feature-courses .icons-feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
}
#feature-courses .icons-feature div{
color: var(--grey-700);
  padding: 9px;
  font-size: 14px;
  
  display: flex;
  
  align-items: center;
}
#feature-courses .icons-feature div i{
    margin: 4px;
}
#feature-courses .students-number{
   
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}

#recently-added .browse{
    width: 220px;
        height: 48px;
        padding: 10px 24px;
        gap: 12px;
        opacity: 0px;
        color: var(--primary-500-main);
        background-color: var(--primary-100);
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 30px;
}
/* --------------------------------------------------------------------------- */
#recently-added .my-card{
    padding-bottom: 100px;
    position: relative;

}
#recently-added .cart{
    /* position: absolute;
    bottom: 0;
    margin-left: 50px;
    margin-bottom: -35px;
    z-index: 100;
    height: 150%;
    width: 110%;
    background-color: var(--grey-white);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.192);
    display: none; */
    position: absolute;
        bottom: 0;
        margin-left: 50px;
        margin-bottom: -35px;
        z-index: 100;
        height: 150%;
        width: 110%;
        background-color: var(--grey-white);
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.192);
        display: none;
        /* Initially hidden */
        transition: opacity 0.3s ease, transform 0.3s ease;
        opacity: 0;
        transform: translateY(20px);
}
.my-card:hover .cart {
    display: block;
    /* Show on hover */
    opacity: 1;
    transform: translateY(0);
}
#recently-added .card-content .user-rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    


}

#recently-added  .user-rate .rate span {
    font-size: 12px;
    color: var(--grey-700);
    margin-right: 10px;
   
   
}

#recently-added  .cart .user-rate .user {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#recently-added .cart img {
    width: 48px;
    margin: 3px;
    padding: 2px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
#recently-added .user-rate{
    display: flex;
    justify-content: space-between;
        align-items: center;
}
#recently-added .user-rate span{
font-size: 12px;
}
#recently-added .user {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* icons */
#recently-added .icons-feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 14px; */
}

#recently-added .icons-feature div {
    color: var(--grey-700);
    padding: 3px;
    font-size: 12px;

    display: flex;

    align-items: center;
}

#recently-added .icons-feature div i {
    margin: 2px;
}

#recently-added .students-number {

    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
#recently-added .discount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}
#recently-added .discount .off-56{
font-size: 12px;
color: var(--primary-500-main);
background-color: var(--primary-100);
padding: 10px;
}
#recently-added .what-learn{
    padding: 5px 10px;
}
#recently-added .what-learn .head{
 
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--grey-900);
}
#recently-added .what-learn .learn-item{
    display: flex;
    align-items: baseline;
    gap: 10px;
}
#recently-added .what-learn i{
    color: var(--success-500);
    width: 15.75px;
        height: 10.5px;
        top: 6.75px;
        left: 4.5px;
        gap: 0px;
        border: 1.5px 0px 0px 0px;
        opacity: 0px;
}
#recently-added .what-learn p{
   color: var(--grey-600);
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.01em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}
#recently-added .cart .cart-btns{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 0 auto;
margin-top: 10px;
gap: 5px;

}
#recently-added .cart-btn{
padding: 10px;
width: 80%;
/* margin: 0 auto; */
background-color: var(--primary-500-main);
color: var(--grey-white);
font-size: 15px;
border: none;
}
/* --------------------------------------------------------------------------- */
#recently-added .browse button{
    border: none;
    font-size: 15px;
    background-color: var(--primary-100);
    color: var(--primary-500-main);
}
/* -------------------- */
#become-instructor{
height: 600px;
background-color: var(--grey-50);
}
#become-instructor .two-parts-instructor{
display: flex;
justify-content: center;
gap:27px;
align-items: center;

padding: 70px 50px;
}
#become-instructor .two-parts-instructor .left{
display: flex;
justify-content: space-evenly;
align-items: center;
width: 48%;
background: linear-gradient(90deg, #CC522B 0%, #FF6636 100%);
height: 250px;

}
#become-instructor .two-parts-instructor .left .left-content{ 
width: 50%;
padding: 0px 50px 0px 10px;
color: var(--grey-white);


}
#become-instructor .two-parts-instructor .left .left-content h2 {
color: var(--grey-white);
    
   
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
#become-instructor .two-parts-instructor .left .left-content p {
     padding: 10px 0px ;
     
    color: var(--grey-white);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
#become-instructor .two-parts-instructor .left .left-content .teaching-btn {
background-color: var(--grey-white);
padding: 8px 24px;
color: var(--primary-500-main);
    border: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.008em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: flex;
    align-items: center;
    gap: 8px;
    
}
#become-instructor .two-parts-instructor .left img{
width: 40%;

}
#become-instructor .two-parts-instructor .right {
width: 48%;
height: 250px;
background-color: var(--grey-white);
display: flex;
flex-direction: column;
align-items: center;

}
#become-instructor .two-parts-instructor .right h2{
     margin-top: 40px;
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--grey-900);
}
.right-container{
 display: flex;
flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 width: 100%;
 margin: auto;
 text-align: center;

}
.right-item{
    display: flex;
    align-items: center;
    padding: 15px ;
    width: 50%;
    
    
}


.right-container span {
    margin-right: 8px;
      padding: 15px 20px;
      text-align: center;
      background-color: #fff;
      border-radius:50% ;
      -webkit-border-radius:50% ;
      -moz-border-radius:50% ;
      -ms-border-radius:50% ;
      -o-border-radius:50% ;
      font-size: 22px;
      font-weight: 600;
        
} 
.right-desc{
        color: var(--grey-900);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}
/* --------------------------- */
#top-instructor{
padding: 100px 20px;

}
#top-instructor .instructor-name{
text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--grey-900);
}
.instructor-role{
    text-align: center;
    
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.01em;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--grey-500);
}
.social-two-parts{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.left-content{
    width: 30%;
    padding: 20px;
}
.left-content h2{
color: var(--grey-900);
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.left-content p {
     color: var(--grey-600);
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 20px 40px 20px 0px ;
}

#social-media{
    background-color: var(--grey-50)
}
.right-social{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    gap: 10px;
}
#footer{
    /* height: 460px; */
    background-color: var(--grey-900);
}
#footer .top{
    display: flex;
    justify-content: space-evenly;
    padding: 100px 40px;
}
#footer .top .left{
    width: 35%;
    display: flex;
    align-items: start;
    flex-direction: column;
}
#footer .top .left p{
         color: var(--grey-white);
         
        font-size: 35px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: -0.01em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}
#footer .top .right{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
#footer .btns{
    margin-top: 25px;
   display: flex;
   align-items: center;
   gap: 8px;
}
#footer .join-btn{
    width: 180px;
        height: 56px;
        padding: 0px 32px 0px 32px;
        gap: 12px;
        opacity: 0px;
        border: 0;
        background-color: var(--primary-500-main);
        color: var(--grey-white);
        font-size: 14px;
}
 #footer .browse-footer{
    width: 200px;
        height: 56px;
        padding: 0px 32px 0px 32px;
        gap: 12px;
        opacity: 0px;
        border: 0;
       color: var(--grey-white);
        background-color: #FFFFFF0D;
        font-size: 14px;
}
 #footer .statistics h2{
    color: var(--grey-white);
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.01em;
    text-align: justified;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}
#footer .statistics p{
color: var(--grey-white);
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        text-align: justified;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}
#footer .bottom{
    width: 85%;
    /* background-color: red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
#footer .bottom .bottom-left{
    width: 35%;
    /* background-color: orange; */
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap:20px;
}
#footer .bottom .bottom-left p{
         color: var(--grey-500);
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.01em;
        text-align: justified;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        width: 77%;
}
#footer .bottom .bottom-left .icons-footer{

}
#footer .bottom .bottom-left .icons-footer i{
    padding: 14px;
    background-color: #363B4766;
    font-size: 18px;
    color: var(--grey-white);
}
#footer .bottom .bottom-left .icons-footer i:hover{
    background-color: var(--primary-500-main);
    box-shadow: 1px 1px 10px 1px var(--primary-800);
}
#footer .bottom .bottom-center{
    display: flex;
    justify-content: space-between;
    

}
#footer .bottom .bottom-center .info{
    padding: 20px;
}
.info h4 , #footer .bottom .bottom-right h4{
    padding: 20px 0px;
    color: var(--grey-white);
        font-size: 16px;
        font-weight: 500;
        line-height: 14px;
        text-align: justified;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}
.info ul{
    list-style: none;
}
.info ul li , .info ul li a{
        color: var(--grey-500);
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.01em;
        text-align: justified;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        text-decoration: none;
        padding: 5px 0px;
     
}
.info ul li:hover,
.info ul li a:hover{
    color: var(--grey-white);
    cursor: pointer;
    text-decoration: underline 1.5px var(--primary-500-main) ;
    text-underline-offset: 5px;
   
}
#footer .bottom .bottom-right{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}
#footer .bottom .bottom-right .apple , .play-store{
background-color: #363B4766;
display: flex;
justify-content: space-around;
padding: 15px 10px;
width: 120%;
}
#footer .bottom .bottom-right i {
    width: 30%;
    color: #fff;
    font-size: 40px;
}
 #footer .bottom .bottom-right img{
    width: 40px;
 }
#footer .bottom .bottom-right h5 a{
    color: var(--grey-300);
        padding: 3px 0px;
        font-size: 10px;
        font-weight: 400;
        line-height: 10px;
        text-align: justified;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        text-decoration: none;
}
#footer .bottom .bottom-right h3{
    color: var(--grey-white);
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        text-align: justified;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}
.copy-rights{
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copy-rights div{
    color: var(--grey-500);
    font-size: 14px;
}
.copy-rights select{
    padding: 12px 40px;
    color: var(--grey-500);
    background-color: var(--grey-800);
    border: 0;
    outline: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: justified;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}



